#Ignore CharacterPortrait HUD (In-game character HUD) for now. As it can't be modify (yet?)
CharPortraitsHUD/*.*
CharPortraitsHUD/**/*.*

#Ignore Store items/News display
Banners/*.*
Banners/**/*.*
Customization/*.*
Customization/**/*.*
NewContentSplash/*.*
StoreBackgrounds/*.*
StoreBackgrounds/**/*.*
StoreTabs/*.*

#Ignore UI Items
Abilities/*.*
CharacterSlideShowRenders/*.*
Friendlist/*.*
LoadoutCategories/*.*
LoadoutCategories/**/*.*
Maps/*.*
Maps/**/*.*

#Ignore unused stuffs
CharPortraits/Missing.png
ItemAddons/iconAddon_gum.png
ItemAddons/iconItemAddon_temp1.png
ItemAddons/Missing.png
items/iconItems_temp1.png
items/iconItems_trapple.png
Favors/iconFavors_temp1.png
Favors/iconFavors_temp2.png
Perks/iconPerks_artefactHunter.png
Perks/iconPerks_toughRunner.png
Perks/iconPerks_underperform.png
Perks/iconPerks_temp1.png
Perks/iconPerks_temp2.png
Perks/toth_temp.png
Perks/Missing.png
Perks/toth_temp.png
#Mobile power icon
Powers/Atl_Hud_*.png
Powers/**/Atl_Hud_*.png
Powers/iconPowers_temp1.png
Archive/Banners/*